@font-face {
    font-family: "GothamPro";
    src: url("./fonts/GothamPro.ttf");
}

@font-face {
  font-family: "GothamMedium";
  src: url("./fonts/GothamPro-Medium.ttf");
}

@font-face {
  font-family: "GothamBold";
  src: url("./fonts/GothamPro_Bold.ttf");
}

@font-face {
  font-family: "GothamLight";
  src: url("./fonts/GothamPro-Light.ttf");
}

@font-face {
  font-family: "FASolid";
  src: url("./fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: "FARegular";
  src: url("./fonts/fa-regular-400.ttf");
}

h1,h2,h3,h4 {
  font-family: "GothamBold";
}

p {
  font-family: "GothamLight";
}

html {
  font-size: 16px;
}

.flex {
  display: flex;
}

.ali-c {
  -ms-align-items: center;
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.jc-b {
  justify-content: space-between;
}

.jc-a {
  justify-content: space-around;
}

.fl-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.green {
  color: #00c853;
}

.red {
  color: #ef5350;
}

.medium, .subheading {
  font-family: "GothamMedium"
}

.dashboard, .adresses, .receive, .send, .obfuscation, .transactions, .voting, .lmessage, .agora, .libernodes, .status, .settings {
  width: calc(100% - 40px);
  padding-left: 40px;
  height: 100%;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
}

.App {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
}

.Main {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
}

.main__logo {
  height: 70px;
  width: auto;
  float: left;
}

.main__logo-text {
  color: #51ff90;
  font-size: 30px;
  margin-left: 12px;
  font-family: "GothamLight";
}

.main__menu-list-item {
  font-size: 24px;
  margin-top: 8px;
}

.main__menu-list-item span {
  font-family: FASolid;
  color: #51ff90;
  margin-right: 17px;
}

.main-heading {
  margin-top: 70px;
  margin-bottom: 8px;
}

.dashboard__heading:nth-child(3) {
  margin-top: 35px;
}

.dashboard__price-flex-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.dashboard__balance-block {
  width: 39%;
  height: 170px;
  padding-left: 25px;
  background-color: #303030;
}

.dashboard__balance-text {
  font-size: 18px;
  font-family: "GothamLight";
  margin-top: 23px;
  margin-bottom: 0;
}

.dashboard__balance-text:nth-child(3) {
  color: #c5c3c3;
}

.dashboard__balance {
  margin-top: 14px;
  margin-bottom: 30px;
  font-size: 49px;
  font-family: "GothamBold";
}

.dashboard__price-exchange-column-block {
  height: 170px;
  width: 40%;
  margin-left: 5%;
}

.dashboard__price-exhange-block {
  width: 100%;
  height: 30.25%;
  margin-bottom: 3%;
  background-color: #00c853;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}

.dashboard__price-exhange-block span {
  font-family: "FASolid";
  margin-right: 15px;
  font-size: 35px;
}

.exchange__price {
  font-size: 25px;
  font-family: "GothamMedium";
  margin-left: 35px;
}

.dashboard__price-exhange-block:last-child {
  margin-bottom: 0;
  background-color: #e53935;
}

.dashboard__transaction-item {
  width: 88%;
  height: 80px;
  background-color: #303030;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dashboard .dashboard__transaction-item:nth-child(5) .dashboard__trans-type-block {
  background-color: #53b791;
}

.transactions .dashboard__transaction-item:nth-child(5) .dashboard__trans-type-block {
  background-color: #53b791;
}

.dashboard .dashboard__transaction-item:nth-child(8) .dashboard__trans-type-block {
  background-color: #53b791;
}


.dashboard__trans-type-block {
  margin-left: 20px;
  height: 45%;
  width: 20%;
  background-color: #00c853;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.dashboard__wallet-adress {
  font-size: 13px;
}

.dashboard__trans-amount {
  font-size: 30px;
  font-family: "GothamBold";
  margin-right: 20px;
}

.adresses .main-heading {
  margin-top: 0;
}

.libernodes .main-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.settings .main-heading {
  margin-top: 0;
}

.adresses__sorting {
  margin-top: 0px;
  margin-left: 10%;
  margin-bottom: 0;
  font-family: "GothamPro";
  font-size: 18px;
}

.adresses__sorting span {
  font-family: "GothamMedium";
}

.adresses__card-flex-block {
  width: 82%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.adresses__cards {
  width: calc(47% - 20px);
  height: 170px;
  background-color: #53b791;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
}

.adresses__cards:nth-child(1), .adresses__cards:nth-child(2) {
  margin-bottom: 25px;
}

.adresses__back-logo {
  height: 110%;
  width: auto;
  z-index: 1;
  opacity: .25;
  position: absolute;
  top: 0px;
  right: -15%;
}

.adresses__card-amount {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 45px;
  font-family: "GothamBold";
  z-index: 10;
  position: relative;
}

.adresses__adress {
  font-size: 11px;
}

.adresses__wallet-name {
  font-family: "GothamPro";
  margin-top: 50px;
  font-size: 20px;
}

.adresses__add-btn-flex-block {
  height: 405px;
  width: 100px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.adresses__add-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00c853;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 30px;
  cursor: default;
}

.adresses__circles-block {
  width: 82%;
  height: 25px;
  margin-top: 20px;
}

.adresses__circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}

.adresses__circle:first-child {
  background-color: #51ff90
}

.adresses__circle:last-child {
  margin-right: 0;
}

.receive .main-heading {
  margin-top: 0;
}

.receive__wallet-block {
  width: calc(60% - 20px);
  padding-left: 20px;
  height: 120px;
  background-color: #303030;
  justify-content: center;
}

.receive__wallet-name {
  font-family: "GothamPro";
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 20px;
}

.receive__adress {
  margin-top: 0;
  margin-bottom: 0;
}

.receive__adress span {
  font-family: "FASolid";
  color: #53b791;
  margin-left: 6px;
  cursor: default;
  -webkit-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}

.receive__adress span:hover {
  color: #00C853;
  -webkit-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}

.receive__select-btn {
  margin-left: 30px;
  width: 200px;
  height: 53px;
  background-color: #00c853;
  text-transform: uppercase;
}

.receive__btn {
  width: 150px;
  height: 46px;
  background-color: #00c853;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 6px;
}

.receive__btn:nth-child(1) {
  margin-right: 15px;
}

.receive__heading {
  margin-top: 50px;
  margin-bottom: 0px;
}

.text-input {
  background-color: #303030;
  outline: none;
  border: 0;
  font-family: "GothamPro";
  color: white;
  resize: none;
}

.receive__input {
  width: 260px;
  padding-left: 10px;
  height: 50px;
  font-size: 20px;
  color: white;
}

.text__input:valid {
  color: #bbbaba;
}

.receive__currency-name-f-input {
  font-size: 24px;
  font-family: "GothamBold";
  color: white;
  margin-left: 15px;
}

.receive__qr-code {
  width: 170px;
  height: 170px;
  margin-top: 30px;
}

.receive__qr-adress {
  margin-left: 20px;
  font-family: "GothamPro";
  font-size: 18px;
  margin-top: 30px;
}

.receive__qr-adress span {
  font-size: 22px;
  font-family: "GothamMedium";
}

.send__flex-cards {
  width: 82%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.send .adresses__circles-block {
  margin-top: 0;
}

.send__subheading {
  font-family: "GothamMedium";
  font-size: 26px;
  margin-bottom: 7px;
}

.send__input {
  width: 500px;
  height: 48px;
  font-size: 20px;
  font-family: "GothamPro";
  padding-left: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}

.send .send__input:nth-child(2) {
  margin-bottom: 5px;
}

.send .flex .send__input:nth-child(1) {
  width: 250px;
}

.send__input:valid {
  color: #bbbaba;
}

.send__textarea {
  font-size: 18px;
  padding: 10px;
  font-family: "GothamPro";
}

.send .receive__btn {
  width: 200px;
  height: 50px;
  margin-top: 17px;
  font-size: 16px;
}

.obfuscation .main-heading {
  margin-top: 0;
}

.obfuscation__question-block {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #53b791;
}

.obfuscation__question-block span {
  margin-top: 3px;
}

.obfuscation__label {
  margin-bottom: 7px;
  font-family: "GothamMedium";
}

.obfuscation .adresses__circles-block {
  margin-top: 0;
}

.obfuscation__inputs-flex div:nth-child(1) {
  margin-right: 50px;
}

.obfuscation__input {
  height: 45px;
  width: 200px;
  font-size: 20px;
  padding-left: 15px;
}

.obfuscation .receive__currency-name-f-input {
  margin-top: 0;
  margin-bottom: 0;
}

.obfuscation .flex .receive__btn {
  margin-top: 20px;
}

.obfuscation .flex .receive__btn:nth-child(1) {
  margin-right: 15px;
}

.transactions .dashboard__transaction-item:nth-child(3) .dashboard__trans-type-block {
  background-color: #53b791;
}

.voting__input-search-block {
  width: 50%;
  height: 50px;
  position: relative;
}

.voting__search-input {
  width: calc(100% - 15px);
  height: 100%;
  font-size: 20px;
  padding-left: 15px;
}

.voting__search-icon {
  position: absolute;
  color: #00c853;
  font-size: 22px;
  font-family: "FASolid";
  right: 15px;
  cursor: default;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.voting .receive__btn {
  height: 45px;
  width: 200px;
  margin-left: 30px;
}

.voting__item {
  width: 70%;
  background-color: #303030;
  height: 110px;
  margin-top: 20px;
  justify-content: space-around;
}

.voting__name {
  font-size: 20px;
  font-family: "GothamMedium";
}

.voting__vote-preview-params {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.voting__vote-preview-params span {
  font-family: "GothamMedium";
}

.voting__res-circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #00c853;
}

.voting__btn-vote {
  width: 100px;
  height: 32px;
  background-color: #00c853;
  margin-top: 7px;
  text-transform: uppercase;
  font-size: 14px;
}

.voting__preview-percent-res {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.lmessage__top-labels {
  margin-top: 15px;
}

.lmessage__add-contact-btn {
  width: 40px;
  height: 40px;
  background-color: #00c853;
  border-radius: 50%;
  margin-left: 15px;
  font-size: 22px;
  cursor: default;
}

.lmessage__small-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "GothamMedium";
  font-size: 26px;
}

.lmessage__sorting-func {
  margin-left: 25px;
}

.lmessage__contact-item {
  width: 70%;
  height: 90px;
  background-color: #303030;
  margin-top: 15px;
}

.lmessage__contact-item:nth-child(3) {
  margin-top: 12px;
}

.lmessage__contact-item-text-block {
  width: 80%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

.lmessage__contact-name {
  font-family: "GothamMedium";
  font-size: 19px;
}

.lmessage__contact-write-btn {
  width: 45px;
  height: 45px;
  background-color: #00c853;
  border-radius: 50%;
  margin-left: 7%;
  font-family: "FARegular";
  font-size: 18px;
}

.lmessage__contact-write-btn span {
  margin-left: 3px;
}

.lmessage .lmessage__small-heading:nth-child(5) {
  margin-top: 20px;
}

.lmessage__message-item {
  width: 70%;
  height: 110px;
  background-color: #303030;
  margin-top: 15px;
  position: relative;
}

.lmessage__message-title, .lmessage__message-date {
  margin-top: 0;
  margin-bottom: 0;
}

.lmessage__message-title {
  font-size: 21px;
  font-family: "GothamMedium";
}

.lmessage__message-date {
  font-size: 20px;
  color: #c5c3c3;
  margin-left: 12px;
}

.lmessage__message-preview {
  margin-top: 8px;
  margin-bottom: 0;
}

.lmessage__message-block {
  width: 100%;
  max-height: 44px;
  overflow-y: hidden;
}

.lmessage__message-item-text-block {
  width: 80%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.lmessage__message-text-f-margin {
  margin-left: 25px;
}

.lmessage__bookmark {
  position: absolute;
  left: 88%;
  top: 50%;
  font-size: 30px;
  font-family: "FARegular";
  color: #00c853;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.agora__search-params div:not(last-child) {
  margin-right: 7%;
}

.agora__search-params div:nth-child(1) .agora__input {
  width: 120%;
}

.agora__search-params div:nth-child(1) .agora__subheading {
  width: 120%;
}

.agora__search-params div:nth-child(2) .agora__input {
  width: 100%;
}

.agora__subheading {
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 22px;
}

.agora__input {
  height: 42px;
  overflow: hidden;
}

.agora__range-slider {
  width: 100%;
  height: 15px;
  background-color: #303030;
  margin-top: 18px;
  position: relative;
}

.agora__slider-block {
  height: 30px;
  width: 30px;
  background-color: #00c853;
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.agora__slider-not-active {
  left: 0;
  transition: all .16s linear;
}

.agora__slider-active {
  left: 82%;
  transition: all .16s linear;
}

#agora__delivery {
  display: none;
}

.agora__delivery-select {
  background-color: #303030;
  width: 130%;
  height: 42px;
}

.agora__country-flag {
  height: 45%;
  width: auto;
  margin-left: 15px;
  margin-right: 20px;
}

.agora__products {
  width: 90%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.agora__market-items {
  width: 30%;
  height: 200px;
  background-color: #303030;
  margin-bottom: 30px;
}

.agora__market-items:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.agora__product-img {
  background-image: url(./img/tomatoes.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 42%;
}

.agora__product-name {
  font-family: "GothamPro";
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.agora__product-price {
  margin-top: 10px;
  margin-bottom: 7px;
  font-size: 32px;
  text-align: center;
  font-family: "GothamBold";
}

.agora__product-tag-block {
  width: 26%;
  height: 22px;
  background-color: #00c853;
  font-size: 12px;
}

.libernodes__flex-heading {
  margin-top: 70px;
  margin-bottom: 20px;
}

.libernodes__btn {
  width: 170px;
  height: 50px;
  background-color: #00c853;
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 14px;
}

.libernodes .dashboard__transaction-item {
  height: 110px;
}

.libernodes__items-subheading {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0px;
  color: #c5c3c3;
  font-family: "GothamPro";
}

.libernodes .dashboard__transaction-item div:nth-child(1) {
  margin-left: 40px;
}

.libernodes .dashboard__transaction-item div:last-child {
  margin-right: 40px;
}

.libernodes__ip-adress, .libernodes__status {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 0;
  font-family: "GothamMedium";
}

.libernodes__status {
  color: #00c853;
  font-size: 22px;
}

.libernodes__adress {
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 0;
  font-family: "GothamMedium"
}

.libernodes__adress span:nth-child(2) {
  display: none;
}

.status__subheading {
  margin-bottom: 5px;
  font-size: 26px;
  font-family: "GothamPro";
}

.status__data {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "GothamMedium";
  color: #00c853;
}

.status__data span {
  color: white;
}

.status .main-heading {
  margin-top: 0;
}

.status__flex2 {
  height: 300px;
  width: 650px;
  padding-left: 7%;
}

.settings__lable {
  font-family: "GothamPro";
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 0;
  margin-top: 30px;
}

.settings-ip {
  font-size: 26px;
  font-family: "GothamMedium";
  margin-top: 4px;
  margin-bottom: 4px;
}

.settings__btn {
  width: 220px;
  height: 50px;
  background-color: #00c853;
  text-transform: uppercase;
  font-size: 16px;
}

.settings__left .settings__lable:nth-child(2) {
  margin-top: 0px;
}

.setting__cube-selector {
  width: 50px;
  height: 50px;
  margin-top: 8px;
}

.setting__cube-selector:nth-child(1) {
  margin-right: 15px;
}

#settings__black {
  background-color: #303030;
}

#settings__white {
  background-color: #fff;
}

.settings__input {
  width: 300px;
  height: 42px;
  margin-top: 5px;
}

.settings__selector {
  background-color: #303030;
  width: 300px;
  height: 42px;
  margin-top: 5px;
  position: relative;
}

.settings__selector p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "GothamPro";
  margin-left: 15px;
}

.settings__selector span {
  font-family: "FASolid";
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 50%;
  color: #bbbaba;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.settings__right {
  padding-left: 130px;
}

.settings__right .settings__lable:nth-child(1) {
  margin-top: 0;
  margin-bottom: 10px;
}

.settings__right .settings__btn {
  margin-bottom: 10px;
}


#myChart {
  margin-right: 50px;
}


.blockComponent {
  display: flex;
  width: 70%;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
}

.pages > p {
    cursor: pointer;
}

.content {
    width: 100%;
    height: 100%;
}

#root {
    font-family: "GothamPro";
}

a {
    text-decoration: none;
    color: white;
}

/* Media */
@media screen and (max-width: 1400px) {
  .lmessage__contact-item, .lmessage__message-item {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .libernodes__adress {
    font-size: 13px;
    font-family: "GothamPro"
  }
  .libernodes__status {
    font-size: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .lmessage__contact-adress span {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .voting__name {
    font-size: 17px;
  }
  .voting__vote-preview-params {
    font-size: 16px;
  }
  .voting__res-circle {
    width: 55px;
    height: 55px;
  }
  .voting__btn-vote {
    width: 80px;
  }
  .dashboard__trans-amount {
    font-size: 24px;
  }
  .receive__adress {
    font-size: 14px;
  }
  .libernodes__adress span:nth-child(2) {
    display: inline-block;
  }
  .libernodes__adress span:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .voting__vote-preview-params {
    display: none;
  }
  .exchange__price {
    font-size: 22px;
  }
  .dashboard__wallet-adress {
    font-size: 11px;
  }
  .dashboard__trans-amount {
    font-size: 20px;
  }
  .receive__adress {
    font-size: 12px;
  }
}
